<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @purchase.book %>
</p>

<p>
  <strong>Email:</strong>
  <%= @purchase.email %>
</p>

<p>
  <strong>Token:</strong>
  <%= @purchase.token %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @purchase.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @purchase.description %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @purchase.stripe_id %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
